@using CleanArchMvc.Application.DTOs;
@model CategoryDTO;
@{
    ViewData["Title"] = "Category Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m=>m.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m=>m.Name)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index">Back to List</a>
    </form>

</div>
